@import './base.css';

/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
*/

:root {
    font-size: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --gray-concrete: #95a5a6;
    --gray-cluods: #ecf0f1;
}


body {
    background: var(--gray-cluods);
}

section,
footer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2vw 0;
}

ul.white-itens li {
    background: white;
    margin: 10px 0;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
}

section.banner {
    & h1 {
        font-size: 2rem;
        font-weight: normal;

        & span {
            font-weight: bold;
        }
    }

    & p {
        font-size: 1rem;
        color: rgb(95, 95, 95);

        & strong {
            color: rgb(45, 45, 45);
        }
    }
}

@media only screen and (min-width: 600px) {
    section.banner {

        display: flex;
        justify-content: space-between;

        & h1 {
            width: 50%;
        }

        & p {
            width: 50%;
        }
    }

    section.cards>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 colunas */
        gap: 16px;
        /* espaçamento entre os itens */

    }

    section.connect {
        & ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & li {
                flex: 0 0 45%;
            }
        }
    }
}